<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.abcsys.devops.v2.deployer.db.dao.V2EnvsMapper" >
  <resultMap id="BaseResultMap" type="cn.abcsys.devops.v2.deployer.db.model.V2Envs" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="image_id" property="imageId" jdbcType="INTEGER" />
    <result column="envs_key" property="envsKey" jdbcType="VARCHAR" />
    <result column="envs_value" property="envsValue" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, image_id, envs_key, envs_value, create_time, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from v2_envs
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByImageId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from v2_envs
    where image_id = #{imageId,jdbcType=INTEGER}
  </select>

  <select id="selectByEnvKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from v2_envs
    where envs_key = #{envKey,jdbcType=VARCHAR}
    AND image_id = #{imageId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from v2_envs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.abcsys.devops.v2.deployer.db.model.V2Envs" useGeneratedKeys="true" keyProperty="id" >
    insert into v2_envs (id, image_id, envs_key,
    envs_value, create_time, status
    )
    values (#{id,jdbcType=INTEGER}, #{imageId,jdbcType=INTEGER}, #{envsKey,jdbcType=VARCHAR},
    #{envsValue,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}
    )
  </insert>

  <delete id="deleteByImageId" parameterType="java.lang.Integer" >
    delete from v2_envs
    where image_id = #{imageId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="cn.abcsys.devops.v2.deployer.db.model.V2Envs" useGeneratedKeys="true" keyProperty="id">
    insert into v2_envs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="imageId != null" >
        image_id,
      </if>
      <if test="envsKey != null" >
        envs_key,
      </if>
      <if test="envsValue != null" >
        envs_value,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="imageId != null" >
        #{imageId,jdbcType=INTEGER},
      </if>
      <if test="envsKey != null" >
        #{envsKey,jdbcType=VARCHAR},
      </if>
      <if test="envsValue != null" >
        #{envsValue,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.abcsys.devops.v2.deployer.db.model.V2Envs" >
    update v2_envs
    <set >
      <if test="imageId != null" >
        image_id = #{imageId,jdbcType=INTEGER},
      </if>
      <if test="envsKey != null" >
        envs_key = #{envsKey,jdbcType=VARCHAR},
      </if>
      <if test="envsValue != null" >
        envs_value = #{envsValue,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.abcsys.devops.v2.deployer.db.model.V2Envs" >
    update v2_envs
    set image_id = #{imageId,jdbcType=INTEGER},
    envs_key = #{envsKey,jdbcType=VARCHAR},
    envs_value = #{envsValue,jdbcType=VARCHAR},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>